:root{
    --verde: #1A824D;
    --azul: #2678BF;
    --borda-caixa: 10px;
    --sombra: 0px 1px 5px #8e8e8ead;
    --borda-botao: 35px;
}
footer{
    background-color: var(--verde);
    display: flex;
    padding: 20px;
    justify-content: space-around;
    
}
.coluna-footer{
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.coluna-footer h1{
    color: white;
    font-size: 1.3rem;
}
.coluna-footer a{
    color: white;
    text-decoration: underline;
    font-size: 0.8rem;
    font-weight: normal;
}
.coluna-footer p{
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: normal;
}
.links-footer{
    display: flex;
    flex-direction: column;
}
