*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}
:root{
    --verde: #1A824D;
    --azul: #2678BF;
    --borda-caixa: 10px;
    --sombra: 0px 1px 5px #8e8e8ead;
    --borda-botao: 35px;
}
header{
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #8e8e8e;
}
header nav{
    display: flex;
    justify-content: space-between; 
    padding: 10px;
}
header ul{
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
}
header a{
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 1rem;
}
header a:hover{
    color: var(--verde);
    text-decoration: underline;
    cursor: pointer;
}

.botoes_cadastro{
    align-items: center;
    display: flex;
    gap: 20px;
}
#entrar{
    padding: 9px 16px;
    border: 1px var(--verde) solid;
    border-radius: var(--borda-botao);
    color: var(--verde);
    font-weight: bold;
    cursor: pointer;
    background-color: white;
}
#entrar:hover{
    background-color: var(--verde);
    border: 0;
    color: white;
    text-decoration: underline;
}
#cadastrar{
    padding: 9px 16px;
    border: 1px solid var(--verde);
    border-radius: var(--borda-botao);
    color: white;
    font-weight: bold;
    background-color: var(--verde);
    cursor: pointer;
}
#cadastrar:hover{
    background-color: white;
    border: 1px solid var(--verde);
    color: var(--verde);
    text-decoration: underline;
}
.menu-logo{
    display: flex;
    align-items: center;
    gap: 5px;
}
.hamburguer{
    background: none;
    border: 0;
    display: none;
    cursor: pointer;
}
.hamburguer i{
    font-size: 2rem;
    
}
/*HEADER*/
@media screen and (max-width: 780px){
    header ul{
        gap: 15px;
    }
    .botoes_cadastro{
        gap: 10px;
    }
}
@media screen and (max-width: 685px){
    header ul{
        display: none;
    }
    .botoes_cadastro{
        gap: 20px;
    }
    header a img{
        width: 110px;
    }
    .hamburguer{
        display: block;
}
}
@media screen and (max-width: 508px){
    .botoes_cadastro{
        gap: 10px;
    }
}
@media screen and (max-width: 408px){
    #entrar{
        padding: 7px 10px;
        font-size: 0.85rem;
    }
    #cadastrar{
        padding: 7px 10px;
        font-size: 0.85rem;
    }
    header nav{
        padding: 4px;
    }
    .botoes_cadastro{
        gap: 5px;
    }
}
@media screen and (max-width: 352px){
    .menu-logo{
    gap: 0px;
    }
    .hamburguer i{
    font-size: 1.7rem;
    
    }
    header a img{
        width: 95px;
    }

}