*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}
:root{
    --verde: #1A824D;
    --azul: #2678BF;
    --borda-caixa: 10px;
    --sombra: 0px 1px 5px #8e8e8ead;
    --borda-botao: 35px;
}
header{
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #8e8e8e;
}
header nav{
    display: flex;
    justify-content: space-between; 
    padding: 10px;
}
header ul{
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
}
header a{
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 1rem;
}
header a:hover{
    color: var(--verde);
    text-decoration: underline;
    cursor: pointer;
}

header .botoes_cadastro{
    align-items: center;
    display: flex;
    gap: 20px;
}
#entrar{
    padding: 9px 16px;
    border: 1px var(--verde) solid;
    border-radius: var(--borda-botao);
    color: var(--verde);
    font-weight: bold;
    cursor: pointer;
    background-color: white;
}
#entrar:hover{
    background-color: var(--verde);
    color: white;
    text-decoration: underline;
}
#cadastrar{
    padding: 9px 16px;
    border: 1px solid var(--verde);
    border-radius: var(--borda-botao);
    color: white;
    font-weight: bold;
    background-color: var(--verde);
    cursor: pointer;
}
#cadastrar:hover{
    background-color: white;
    border: 1px solid var(--verde);
    color: var(--verde);
    text-decoration: underline;
}
.menu-logo{
    display: flex;
    align-items: center;
    gap: 5px;
}
.hamburguer{
    background: none;
    border: 0;
    display: none;
    cursor: pointer;
}
.hamburguer i{
    font-size: 2rem;
    
}

/*BARRA LATERAL*/
.barra-lateral-header{
    height: 96vh;
    background-color: white;
    width: 230px;
    position: fixed;
    z-index: 100;
    overflow: auto;
    padding: 15px 15px;
    box-shadow: 0px 0px 0px  1000px  rgba(31, 31, 31, 0.425);
    display: none;
    animation: abrirmenu 0.8s forwards; 
}
@keyframes abrirmenu{
    
        0%{
            transform: translateX(-230px);
        }
        100%{
            transform: translateX(0px);
        }
    
}
.barra-lateral-header img{
    width: 124px;
}
.barra-lateral-header nav{
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    margin: 0px auto;
}
.barra-lateral-header ul{
    list-style: none;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.barra-lateral-header ul a{
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 6px;
    border-radius: var(--borda-caixa);
    background-color: var(--verde);
    display: flex;
    gap: 5px;
    justify-content: center;
    
}
.barra-lateral-header ul a:hover{
    background-color: #1a824ccb;
} 
.barra-lateral-header .botoes_cadastro{
    align-items: center;
    display: flex;
    gap: 10px;
}
.fechar-menu{
    background: none;
    border: none;
    cursor: pointer;
}
.fechar-menu i{
    font-size: 2rem;
}
.fechar-logo{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
/*HEADER RESPONDIVEL*/
@media screen and (max-width: 780px){
    header ul{
        gap: 15px;
    }
    header .botoes_cadastro{
        gap: 10px;
    }
}
@media screen and (max-width: 685px){
    header ul{
        display: none;
    }
    header .botoes_cadastro{
        gap: 20px;
    }
    header a img{
        width: 110px;
    }
    .hamburguer{
        display: block;
}
}
@media screen and (max-width: 508px){
    header .botoes_cadastro{
        gap: 10px;
    }
}
@media screen and (max-width: 408px){
    header #entrar{
        padding: 7px 10px;
        font-size: 0.85rem;
    }
    header #cadastrar{
        padding: 7px 10px;
        font-size: 0.85rem;
    }
    header nav{
        padding: 4px;
    }
    header .botoes_cadastro{
        gap: 5px;
    }
}
@media screen and (max-width: 352px){
    .menu-logo{
    gap: 0px;
    }
    .hamburguer i{
    font-size: 1.7rem;
    
    }
    header a img{
        width: 95px;
    }

}