*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}
:root{
    --verde: #1A824D;
    --azul: #2678BF;
    --borda-caixa: 10px;
    --sombra: 0px 1px 5px #8e8e8ead;
    --borda-botao: 35px;
}
/*MAIN*/
/*CARROSEL*/
.carrosel{
    background: url(../img/carrosel_tela_inicial_tratada.png) no-repeat center;
    background-size: cover;
    height: 50vh;

    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.carrosel p{
    font-weight: bold;
    color: white;
    text-align: center;
}
.carrosel .barra_pesquisa{
    width: 693px;
    background-color: white;
    height: 64px;
    border-radius: var(--borda-botao);
    display: flex;
}
input{
    width: 500px;
    height: 100%;
    border-bottom-left-radius: 33px;
    border-top-left-radius: 33px;
    border: 0;
    margin-left: 20px;
}
input:focus{
    outline: none;
}
.btn_pesquisar{
    display: flex;
    border-radius: var(--borda-botao);
    border: 0;
    background-color: var(--verde);
    margin: auto;
    padding: 10px;
    gap: 5px;
    margin-right: 20px;
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    
}
.btn_pesquisar .bi-search{
    color: white;
    
}

/*EVENTOS EM DESTAQUE E PRÓXIMOS*/
.linha_eventos{
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;

    max-width: 1400px;
    margin: auto;
    flex-wrap: wrap;
    
}

.eventos_destaque h1{
    text-align: center;
    padding: 20px;
    font-weight: bolder;
    font-size: 2rem;
}
.eventos_proximos h1{
    text-align: center;
    padding: 20px;
    font-weight: bolder;
    font-size: 2rem;
}
.caixa_eventos{
    width: 241px;
    height: 214px;
    border: 2px solid var(--verde);
    border-radius: 14px;
    font-weight: bold;
    box-shadow: 5px 5px 10px #8e8e8e;
}
.caixa_eventos:hover{
    transform: translateY(-5px);
    transition: 0.5s;
}
.data_evento{
    position: absolute;
    padding: 5px;
    background-color: var(--azul);
    margin: 10px 0px 0px 10px;
    border-radius: 10px;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: bold;
}
.data_evento:hover{
    background-color: white;
    border: 1px solid var(--azul);
    color: var(--azul);
}
.caixa_eventos a img{
    width: 241px;
    height: 145px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.caixa_eventos .nome_show, .distancia_show{
    padding-left: 7px;
    padding-top: 7px;
    font-weight: bold;
}
.caixa_eventos .distancia_show{
    color: #8e8e8e;
    font-size: 0.7rem;
}

/*CARROSEL EVENTOS*/
.carrosel-container{
    display: none;
}
.carrosel-viewport{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

.carrosel-viewport button{
    background: none;
    border: none;
    cursor: pointer;
}
.carrosel-viewport button:hover{
    transform: translateY(-3px);
    transition: 0.5s;
}
.carrosel-viewport i{
    font-size: 2.5rem;
    color: var(--verde);
    font-weight: bolder;
}
.carrosel-eventos{
    width: 400px;
    height: 244px;
    border: 2px solid var(--verde);
    border-radius: 14px;
    font-weight: bold;
    box-shadow: 5px 5px 10px #8e8e8e;
}
.carrosel-eventos a img{
    width: 400px;
    height: 175px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.carrosel-eventos .nome_show, .distancia_show{
    padding-left: 8.5px;
    padding-top: 8.5px;
    font-weight: bold;
}
.carrosel-eventos .distancia_show{
    color: #8e8e8e;
    font-size: 0.85rem;
}
.carrossel-indicadores{
    justify-content: center;
    display: flex;
    gap: 8px;
    margin-top: 15px;
}
.carrossel-indicadores button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background-color: #555;
}
.carrossel-indicadores .ativo{
    background-color: white;
    border: 1px solid black;
}
/*BARRA PESQUISA*/
@media screen and (max-width: 770px){
    .carrosel .barra_pesquisa{
        width: 550px;
    }
    .carrosel{
        height: 40vh;
    }
}
@media screen and (max-width: 625px){
    .carrosel{
        height: 30vh;
    }
    .carrosel .barra_pesquisa{
        width: 450px;
        height: 54px;
    }
    .btn_pesquisar{
        padding: 10px;
        font-size: 0.75rem;
    }
}
@media screen and (max-width: 510px){
    .carrosel .barra_pesquisa{
        width: 350px;
    }
    .btn_pesquisar{
        margin-right: 10px;
    }
    input{
        margin-left: 10px;
    }
}
@media screen and (max-width: 400px){
    .carrosel .barra_pesquisa{
        width: 300px;
    }
} 
/*LINHA EVENTOS*/
@media screen and (max-width: 1094px){
        .caixa_eventos{
            width: 200px;
            height: 180px;
        }
        .caixa_eventos a img{
            width: 200px;
            height: 120px;
        }
        .caixa_eventos .data_evento{
            font-size: 0.75rem;
            letter-spacing: 0.2px;
            font-weight: bold;
        }
        .data_evento{
            
        }
}
@media screen and (max-width: 706px){
    .carrosel-container{
        display: block;
    }
    .linha_eventos{
        display: none;
    }
}
@media screen and (max-width: 537px){
    .carrosel-eventos{
        width: 100%;
        height: 234px;
    }
    .carrosel-eventos a img{
        width: 100%;
        height: 164px;
    }
}    
@media screen and (max-width: 498px){
    .carrosel-eventos{
        height: 204px;
    }
    .carrosel-eventos a img{
        height: 140px;
    }
    .carrosel-viewport{
        gap: 3px;
    }
    .nome_show, .distancia_show{
        padding-top: 5px;
    }
}
@media screen and (max-width: 380px){
    .carrosel-eventos{
        height: 184px;
    }
    .carrosel-eventos a img{
        height: 125px;
    }
    .nome_show, .distancia_show{
        padding-top: 2.5px;
    }
}