


*{
    padding: 0;
    margin: 0;
}
:root{
    --verde: #1A824D;
    --azul: #2678BF;
    --borda-caixa: 10px;
    --sombra: 0px 1px 5px #8e8e8ead;
    --borda-botao: 35px;
}
/*Carrossel*/

.carrosel{
    background: url(../img/carrosel_info_eventos.png) no-repeat center;
    background-size: cover;
    height: 50vh;
    align-items: center;
    display: flex;
}
.bloco_informacoes{
    margin-left: 250px;
}
.carrosel h1{
    color: white;
}
.carrosel .icons-info{
    padding-top: 15px;
}
.carrosel p{
    color: white;
    gap: 5px;
    display: flex;
    padding-top: 5px;
}
.icons-info p{
    font-size: 0.8rem;
    letter-spacing: 0.85px;
    align-items: center;
}
/*INFORMAÇÕES SOBRE O EVENTO*/

.informacoes_eventos{
    padding: 40px;
    display: flex;
    justify-content: center;
    
    flex-wrap: wrap;
    margin: auto;
    gap: 40px;
}
.caixas{
    box-shadow: var(--sombra);
    padding: 00px 20px 20px 20px;
    border-radius: 10px;
    
}

/* CAIXA SOBRE O EVENTO*/

#sobre_evento{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 746px;
    height: 100%;
    
}
#sobre_evento p{
    line-height: 25px;
    font-weight: 500;
    padding-top: 10px;
}   
.titulo_icon{
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 0px;
}

.titulo_icon h1{
    padding-left: 10px;
}
.titulo_icon h2{
    font-size: 1.2rem;
    padding-left: 10px;
}
.titulo_icon i{
    color: var(--verde);
}

/*Parte de CIMA*/
 
.info_sobre_evento{
    padding: 28px;
}
/*Parte de BAiXO*/
#extras{
    display: flex;
    padding: 28px;
    flex-wrap: wrap;
    margin: auto;
}
.info_extras{
    width: 340px;
}
#extras .linha{
    gap: 20px;
    display: flex;
}
/*CAIXA INGRESSOS*/
#ingressos{
    width: 420px;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 25px;
}
#ingressos h1{
    text-align: center;
    padding: 20px;
    font-size: 1.6rem;
}
/*Ingressos*/
.info-precos-ingressos{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.precos-ingressos{
    border-radius: var(--borda-caixa);
    height: 70px;
    width: 198px;
    border: 1px solid var(--azul);
    box-shadow: var(--sombra);
}
.precos-ingressos:hover{
    transition: 0.3s;
    transform: translateY(-2px);
}
.precos-ingressos h2{
    padding: 10px 0px 0px 10px;
    font-size: 1.1rem;
}
.precos-ingressos p{
    color: var(--azul);
    padding-left: 2px;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 10px;
}
.precos-ingressos span{
    font-size: 1.6rem;  
    margin-bottom: 3.6px;
}
/*BOTÕES DA CAIXA DE INGRESSO*/
.btns-ingressos{
    display: flex;
    justify-content: center;
    gap: 25px;
}
#ingressos button{
    border: 1px solid var(--azul);
    background-color: var(--azul);
    border-radius: var(--borda-botao);
    color: white;
    padding: 10px 12px;
    text-align: center;
    cursor: pointer;
}
#ingressos button:hover{
    border: 1px solid var(--azul);
    background-color: white;
    color: var(--azul);
}
#ingressos .btn-comprar{
    border: 1px solid var(--azul); 
    background-color: var(--azul);
    border-radius: var(--borda-botao);
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px 12px;
}
/*LOCAL CAIXA DE INGRESSO*/
.local {
    color: black;
    font-size: 10pt;
    
    padding: 9.5px;
}
/*ABRIR MAPA NA CAIXA DE INGRESSO*/
.abrir-mapa{
    background-color: var(--azul);
    width: 340px;
    margin: auto;
    height: 159px;
    border-radius: var(--borda-caixa);
    background: linear-gradient(#2678BF80), url(../img/minimapa.png) no-repeat ;
    background-size: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.abrir-mapa a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
}
.abrir-mapa a:hover{
    cursor: pointer;
}
/*CAIXA PRINCIPAIS ATRAÇÕES*/
#atracoes{
   width: 746px; 
}
#atracoes .titulo_icon{
    padding: 28px;
}
.caixas-artistas{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.artistas{
    width: 195px;
    height: 190px;
    box-shadow: var(--sombra);
    padding: 00px 20px 20px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
.artistas:hover{
    transition: 0.3s;
    transform: translateY(-5px);
}
.artistas img{
    width: 120px;
    margin: auto;
    display: flex;
    padding: 10px;
    border-radius: 50%;
}
.artistas a {
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 0.83rem;
}
/*EVENTOS RECOMENDOS QUE O USUARIO PODE GOSTAR*/
#recomendados{
    width: 420px;
    overflow: auto;
    height: 300px;
    gap: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.eventos-recomendados{
    width: 80%;
    height: 200px;
    border: 2px solid var(--verde);
    border-radius: 14px;
    font-weight: bold;
    box-shadow: 5px 5px 10px #8e8e8e;
    margin: auto;
    
    position: relative;
}
.eventos-recomendados a img{
    width: 100%;
    height: 145px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.eventos-recomendados .data_evento{
    position: absolute;
    padding: 5px;
    background-color: var(--azul);
    margin: 10px 0px 0px 10px;
    border-radius: 10px;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: bold;
}
.nome_show, .distancia_show{
    padding: 0px 10px 10px 10px;
    font-weight: bold;
}
.distancia_show{
    color: #8e8e8e;
    font-size: 0.7rem;
}
.ler-mais{
    display: none;
}
/*CARROSEL RESPONSIVO*/
@media screen and (max-width: 1550px){
    .bloco_informacoes{
        margin-left: 200px;
    }
}
@media screen and (max-width: 1386px){
    .bloco_informacoes{
        margin-left: 150px;
    }
}
@media screen and (max-width: 1261px){
    .bloco_informacoes{
        margin-left: 100px;
    }
}
@media screen and (max-width: 990px){
    .bloco_informacoes{
        margin-left: 60px;
    }
}
@media screen and (max-width: 755px){
    .bloco_informacoes{
        margin-left: 30px;
    }
}
/*MAIN*/
@media screen and (max-width: 1380px){
    #ingressos{
        display: none;
    }
    #recomendados{
        width: 600px;
    }
    .eventos-recomendados{
        width: 60%;
    }
}
@media screen and (max-width: 879px){
    #atracoes{
        padding: 10px;
    }
}
@media screen and (max-width: 850px){
    #sobre_evento{
        width: 600px;
    }
    #extras{
        display: none;
    }
    .linha{
        flex-direction: column;
        
    }
    .ler-mais{
    display: flex;
    margin: 0 auto 0px 30px;
    background: none;
    border: 0;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.05rem;
    }
    .info_sobre_evento{
        padding-bottom: 15px;
    }
    .ler-mais:hover{
        color: var(--verde);
    }
}
@media screen and (max-width: 850px){
    #atracoes .titulo_icon{
        padding: 10px;
    }
}
@media screen and (max-width: 630px){
    .eventos-recomendados{
        width: 70%;
    }
}
@media screen and (max-width: 604px){
    #atracoes{
        max-width: 480px;
    }
    .caixas-artistas{
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: initial;
        padding: 10px;
    }
}
@media screen and (max-width: 575px){
    #sobre_evento{
        padding: 0;
        padding-bottom: 10px;
    }
    .info_sobre_evento{
        padding: 15px;
    }
    .informacoes_eventos{
        padding: 20px;
    }
    .info_sobre_evento p{
        font-size: 0.8rem;
        line-height: 0px;
    }
    .ler-mais{
        margin: 0 auto 0px 15px;
    }
}
@media screen and (max-width: 550px){
    #atracoes{
        width: 400px;
    }
}
@media screen and (max-width: 510px){
    .eventos-recomendados{
        width: 80%;
    }
    
}
@media screen and (max-width: 470px){
    #atracoes{
        width: 300px;
    }
}
@media screen and (max-width: 418px){
    .eventos-recomendados{
        width: 90%;
    }
    #recomendados{
        padding: 10px;
    }
    .caixas h1{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 360px){
    #atracoes{
        width: 260px;

    }
    #atracoes h1{
        font-size: 1.4rem;
    }
}