
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}
:root{
    --verde: #1A824D;
    --azul: #2678BF;
}
/*Carrossel*/

.carrosel{
    background: url(/Explora-/img/carrosel_info_eventos.png) no-repeat center;
    background-size: cover;
    height: 50vh;
    
    
}
.bloco_informacoes{
    position: absolute;
    top: 190px;
    left: 200px;
    
}
.carrosel h1{
    color: white;
}
.carrosel .icons-info{
    padding-top: 15px;
}
.carrosel p{
    color: white;
    gap: 5px;
    display: flex;
    padding-top: 5px;
}
.icons-info p{
    font-size: 0.8rem;
    letter-spacing: 0.85px;
}
/*INFORMAÇÕES SOBRE O EVENTO*/

.informacoes_eventos{
    padding: 20px;
    display: flex;
    justify-content: space-around;

}
.caixas{
    box-shadow: 0px 0px 10px #8e8e8e;
    
    border-radius: 10px;
    
}

/* CAIXA SOBRE O EVENTO*/

#sobre_evento{
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    width: 746px;
    height: 580px;
    padding: 00px 20px 20px 20px;
}
#sobre_evento p{
    padding-top: 10px;
    line-height: 25px;
    font-weight: 500;
}   
.titulo_icon{
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 0px;
}

.titulo_icon h1{
    padding-left: 10px;
}
.titulo_icon h2{
    font-size: 1.2rem;
    padding-left: 10px;
}
.titulo_icon i{
    color: var(--verde);
}

/*Parte de CIMA*/
 
.info_sobre_evento{
    padding: 28px;
}
/*Parte de BAiXO*/
#extras{
    display: flex;
    justify-content: space-evenly;
    padding: 28px;
}

/*CAIXA INGRESSOS*/
#ingressos{
    width: 406px;
    height: 580px;
    padding: 0px 20px 20px 20px;
}
#ingressos h1{
    text-align: center;
    padding: 20px;
}

