/*Carrossel*/
.carrosel{
    background: url(/Explora-/img/carrosel_info_eventos.png) no-repeat center;
    background-size: cover;
    height: 50vh;
    
    
}
.bloco_informacoes{
    position: absolute;
    top: 190px;
    left: 200px;
    
}
.carrosel h1{
    color: white;
}
.carrosel .icons-info{
    padding-top: 15px;
}
.carrosel p{
    color: white;
    gap: 5px;
    display: flex;
    padding-top: 5px;
}
.icons-info p{
    font-size: 0.8rem;
}
/*INFORMAÇÕES SOBRE O EVENTO*/
.informacoes_eventos{
    padding: 20px;
}
.caixas_sombras{
    box-shadow: 0px 0px 10px #8e8e8e;
}
#sobre_evento{
    width: 746px;
    height: 730px;
    border-radius: 10px;
    padding: 20px;
    
}
#sobre_evento h1{
    padding: 20px;
}
#sobre_evento p{
    padding-top: 10px;
    text-indent: 10px;
    line-height: 25px;
    font-weight: normal;

}