*{
    padding: 0;
    margin: 0;
}
:root{
    --verde: #1A824D;
    --azul: #2678BF;
    --borda-caixa: 10px;
    --sombra: 0px 1px 5px #8e8e8ead;
    --borda-botao: 35px;
}
main{
    display: flex;
    
}
/*MENU LATERAL*/

.menu-lateral{
    border-right: 1px solid #8e8e8e;
    border-top: 1px solid #8e8e8e;
    width: 322px;
    padding: 20px 25px 25px 25px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/*MENU LATERAL (BOTÕES) (TITULO)*/
h2{
    font-size: 16px;
    font-weight: bolder;
    padding: 0px 0px 5px 5px;
}

.btn-preferencia{
    background-color: var(--azul);
    padding: 9px 10px;
    border-radius: var(--borda-botao);
    border: 1px solid var(--azul);
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
}
/*MENU LATERAL (LINK)*/

.menu-lateral a{
    color: var(--verde);
    display: flex;
    align-items: center;
    font-weight: bold;
}


/*MENU LATERAL (DATA)*/

.filtrar-data{
    display: flex;
    flex-wrap: wrap;
    gap: 6.5px;
}


/*MENU LATERAL (DISTÂNCIA)*/

.filtrar-distancia{
    display: flex;
    flex-direction: column;
}
.filtrar-distancia div{
    display: flex;
    gap: 10px;
}
.filtrar-distancia label{
    color: #8e8e8e;
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
}

/*MENU LATERAL (ORÇAMRNTO)*/


.orcamento{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}
.orcamento .barra_input{
    width: 210px;
    display: flex;
    align-items: center;
    border: 1px solid var(--verde);
    border-radius: var(--borda-botao);
    
}
.orcamento label{
    font-weight: bolder;
    
}
.orcamento .bi-cash{
    padding-left: 8px;
    color: var(--verde);
    font-size: 1.2rem;
}
.orcamento input{
    border-radius: var(--borda-botao);
    border: none;
    width: 100%;
    padding: 10px;
}
.orcamento input:focus{
    outline: none;
}

/*MENU LATERAL (Gostos)*/


.filtrar-gostos{
    display: flex;
    flex-wrap: wrap;
    gap: 6.5px;
}

.btn-filtrar .btn-preferencia{
    display: flex;
    margin: auto;
    gap: 4px;
}

/*MAPA*/
.mapa{
    width: 100%;
    border-top: 1px solid #8e8e8e;
    display: flex;
    position: relative;
}

.mapa div{
    width: 100%;
    height: 690px;
    
}    
.mapa iframe{
    width: 100%;
    position: absolute;
    height: 100%;
}
/*MAPA (PESQUISAR)*/

.mapa .barra_pesquisa{
    width: 693px;
    position: relative;
    
    background-color: white;
    height: 64px;
    border-radius: var(--borda-botao);
    display: flex;
    box-shadow: var(--sombra);
    margin: 20px auto 0px;
    
}
.barra_pesquisa input{
    width: 500px;
    margin: auto;
    height: 100%;
    border-bottom-left-radius: 33px;
    border-top-left-radius: 33px;
    border: 0;
}
.barra_pesquisa input:focus{
    outline: none;
}
.btn_pesquisar{
    display: flex;
    border-radius: var(--borda-botao);
    border: 0;
    background-color: var(--verde);
    margin: auto;
    padding: 10px;
    gap: 5px;
    margin-right: 20px;
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
}
.btn_pesquisar .bi-search{
    color: white;
    
}
